@import './src/index.scss';

.ant-btn {
  height: 70px;
  @extend %medium-s18;
  border: none;
  border-radius: 0px 6px 6px 0px;
  padding: 4px 39px;
  color: $gray;

  &:hover, &:focus {
    border-color: $light-blue;
    color: $light-blue;
  }

  &:not(.ant-btn):hover {
    border-color: $light-blue;
  }
}

.ant-input-affix-wrapper {
  input {
    color: $gray;
  }

  border: 0;
  @extend %medium-s18;
  border-right: 2px solid #F5F4FB;
  border-radius: 6px 0px 0px 6px;

  &:not(.ant-input-affix-wrapper-disabled):hover {
    border-right-width: 2px !important;
    border-color: $light-blue;

  }

}

.ant-input-affix-wrapper-lg {
  padding: 6.5px 12px 6.5px 30px;
}

.ant-input-prefix {
  margin-right: 10px;
}

