@import '../../index.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile_block {
    padding-top: 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 85px;

    img {
      object-fit: cover;
      width: 96px;
      height: 96px;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    span {
      @extend %medium-s18;
      position: relative;

      &::before {
        position: absolute;
        right: -25px;
        bottom: 2px;
        content: '';
        width: 19px;
        height: 19px;
        background: url(../../assets/images/down.svg)
      }
    }
  }

  .nav_bar {
    user-select: none;
    li {
      margin-bottom: 55px;
      position: relative;

      &:nth-last-child(2) {
        margin-bottom: 295px;
      }

      .nav_item {
        @extend %bold-s16;
        text-decoration: none;
        padding-left: 20px;
        color: $gray;
        text-transform: uppercase;
        line-height: 19px;
        position: relative;
        transition: $menu-transition;
        &::before {
          transition: $menu-transition;
        }
      }

      .home::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        left: -17px;
        top: -2px;
        mask: $home;
        background:$gray;
      }

      .chat::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        left: -17px;
        top: -2px;
        mask: $chat;
        background:$gray;
      }

      .contact::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        left: -17px;
        top: -2px;
        mask: $contact;
        background:$gray;
      }

      .notifications::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        left: -17px;
        top: -2px;
        mask: $notifications;
        background:$gray;
      }

      .calendar::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        left: -17px;
        top: -2px;
        mask: $calendar;
        background:$gray;
      }

      .settings::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        left: -17px;
        top: -2px;
        mask: $settings;
        background:$gray;
      }

      .logout::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        left: -17px;
        top: -2px;
        mask:$logout;
        background:$gray;
      }

      .active {
        color: $light-blue;
        &::before {
          background: $light-blue;
        }
      }
    }
  }
}
