// fonts
@font-face {
  font-family: 'TT Bold';
  src: url('assets/fonts/TTNorms-Bold.eot');
  src: local('./assets/fonts/TT Norms Bold'), local('TTNorms-Bold'),
  url('assets/fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/TTNorms-Bold.woff') format('woff'),
  url('assets/fonts/TTNorms-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Medium';
  src: url('assets/fonts/TTNorms-Medium.eot');
  src: local('./assets/fonts/TT Norms Medium'), local('TTNorms-Medium'),
  url('assets/fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/TTNorms-Medium.woff') format('woff'),
  url('assets/fonts/TTNorms-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

//fonts variables

%medium-font {
  font-family: 'TT Medium';
  font-weight: 500;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

%bold-font {
  font-family: 'TT Bold';
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

%medium-s36 {
  @extend %medium-font;
  font-size: 36px;
}

%medium-s20 {
  @extend %medium-font;
  font-size: 20px;
}
%medium-s18 {
  @extend %medium-font;
  font-size: 18px;
}

%bold-s18 {
  @extend %bold-font;
  font-size: 18px;
}

%bold-s16 {
  @extend %bold-font;
  font-size: 16px;
}

%medium-s16 {
  @extend %bold-font;
  font-size: 16px;
}

//font-colors
$evil-blue: #0D1C2E;
$light-blue: #2A8BF2;
$pink: #FF3366;
$gray: #707C97;
$semi-white: #FAFBFF;
$white: #fff;
$hover-menu-color: black;

//menu-icons
$home: url('./assets/images/menu/grid.svg');
$chat: url('./assets/images/menu/message-circle.svg');
$contact: url('./assets/images/menu/person.svg');
$notifications: url('./assets/images/menu/bell.svg');
$calendar: url('./assets/images/menu/calendar.svg');
$settings: url('./assets/images/menu/settings.svg');
$logout: url('./assets/images/menu/power.svg');

//menu-transition
$menu-transition: all 0.2s ease-in-out;
//grid-container

.main_container{
  display:grid;
  grid-template-columns: 290px 1fr;
}


